<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">

<div th:insert="~{common/header :: header}"></div>

<h1 class="text-lg font-bold px-4 pt-4">Panel de administración</h1>

<div class="flex">

    <!-- Sidebar -->
    <div th:insert="~{common/sidebar :: navbar}"></div>

    <!-- CONTENIDO PRINCIPAL -->
    <section class="flex-1 p-6 bg-gray-50">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold text-gray-800">Recolectores</h2>
            <button class="bg-green-700 text-white px-4 py-2 rounded-md hover:bg-green-800 transition">
                Añadir recolector
            </button>
        </div>

        <div class="bg-white rounded-xl shadow p-4">
            <table class="w-full text-left table-auto">
                <thead>
                <tr class="text-gray-600 border-b">
                    <th class="pb-2">Nombre</th>
                    <th class="pb-2">Empresa Recolectora</th>
                    <th class="pb-2">Correo</th>
                    <th class="pb-2">Estado</th>
                </tr>
                </thead>
                <tbody class="text-gray-800">
                <tr class="border-b hover:bg-gray-50" th:each="collector : ${collectors}">
                    <td class="py-3 font-medium" th:id="${collector.getUserId()}"
                        th:text="${collector.getPersonName()}"></td>
                    <td class="py-3 text-gray-500" th:text="${collector.getCompanyName()}"></td>
                    <td class="py-3 text-gray-500" th:text="${collector.getEmail()}"></td>
                    <td class="py-3" th:text="${collector.getStatus()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</body>
</html>
