<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">

<div th:insert="~{common/header :: header}"></div>


<h1 class="text-lg font-bold px-4 pt-4">Panel de administración</h1>

<div class="flex">

    <!-- Sidebar -->
    <div th:insert="~{common/sidebar :: navbar}"></div>

    <!-- CONTENIDO PRINCIPAL -->
    <section class="flex-1 p-6 bg-gray-50">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold text-gray-800">Informes Residuapp</h2>
        </div>

        <div class="bg-white rounded-xl shadow p-4">
            <form th:action="@{/report/tickets}" method="post">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm">
                    Generar Reporte de Tickets de Servicio
                </button>
            </form>
        </div>
        <div sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_COMPANY_ADMIN')" class="bg-white rounded-xl shadow p-4">
            <form th:action="@{/report/users}"
                  method="post">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm">
                    Generar Reporte de Usuarios
                </button>
            </form>
        </div>
        <div class="bg-white rounded-xl shadow p-4">
            <div th:if="${reports.isEmpty()}">
                <h3><i>No hay informacion que mostrar</i></h3>
            </div>
            <table class="w-full text-left table-auto" th:if="${!reports.isEmpty()}">
                <thead>
                <tr class="text-gray-600 border-b">
                    <th class="pb-2">Nombre</th>
                    <th class="pb-2">Usuario</th>
                    <th class="pb-2">Fecha generación</th>
                </tr>
                </thead>
                <tbody class="text-gray-800">

                <tr class="border-b hover:bg-gray-50" th:each="report : ${reports}">
                    <td class="py-3 font-medium" th:id="${report.getId()}" th:text="${report.getName()}"></td>
                    <td class="py-3 text-gray-500" th:text="${report.getRequestorUserId()}"></td>
                    <td class="py-3 text-gray-500" th:text="${#temporals.format(report.getCreatedAt())}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>

</body>
</html>
